<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<table>
		<tr>
			<td>Dear Manager,</td>
			
			
		</tr>
		<tr>
			<td>
			Your reportee lipsa(Emp ID 23) has nominated for training , the details are mentioned below
			
			</td>
		</tr>
		<tr>
			<tr>
				</tr>
				</tr>
				<tr>
					<td>
						Training Name : <%= @employee_emaildatas.training.training_name %>
						</td>
					
				</tr>
				<tr>
					<td>
						Start Date : <%= @employee_emaildatas.training.start_date %>
						</td>
					
				</tr>
				<tr>
					<td>
						End Date : <%= @employee_emaildatas.training.end_date %>
						</td>
					
				</tr>
				<tr>
					<td>
						Duration : <%= @employee_emaildatas.training.duration %> 
						</td>
					
				</tr>
				<tr>
					<td>
						Location : <%= @employee_emaildatas.training.location %>
						</td>
					
				</tr>
				<tr>
					<td>
						Please login to the application and approve/reject the request.<br/>
						Note:  Based on your approval the employee will be confirmed to the training.						
					</td>
					
				</tr>
				
				<tr>
					
					<tr></tr>
				</tr>
				<tr>
					<td>
					Thanks&Regards,
					</td>
				</tr>
				<tr>
					<td>
						Marlabs HR Team
						<td>
					</tr>
					</table>
	</body>
</html>