<%= form_for(@employee_training) do |f| %>
  <% if @employee_training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_training.errors.count, "error") %> prohibited this employee_training from being saved:</h2>

      <ul>
      <% @employee_training.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :training_id %><br />
    <%= f.number_field :training_id %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.number_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
